.icon-arrow-right {
  width: 2.38em;
  height: 1em;
  fill: initial;
}
.icon-basket {
  width: 1.08em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-tw {
  width: 1.47em;
  height: 1em;
  fill: initial;
}
